*{
    margin: 0px;
    padding: 0px;
    font-family: 'poppins',sans-serif;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}

body{
    background: black;
    color: #ffff;
}
.header{
    width: 100%;
    height: 100vh;
    background-image: url(bgimage.jpg);
    background-size: cover;
    background-position: center;
}

.container{
    padding: 10px 10%;
    
}
.workcontainer{
    padding: 60px 10%;
}
.contactcontainer{
    padding: 60px 10%;
}
nav{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 140px;
}

.menuclose{
    display: none;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    color: white;
    font-size: 18px;
    text-decoration: none;
    position: relative;
}

nav ul li a::after{
    content: "";
    width: 0px;
    height: 3px;
    background:red;
    position: absolute;
    left: 0px;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;
}
.header-text{
    margin-top: 20%;
    font-size: 30px;
}
.header-text h1{
    font-size: 60px;
    margin-top: 20px;
}
.header-text h1 span{
    color: rgb(255, 0, 0);
}
.header-text p{
    font-size: x-large;
}
.dow{
    padding: 10px;
    background-color:#0000;
    text-decoration: none;
    font-size: xx-large;
    color: white;
    border-radius: 15px;
    margin-top: 600px;
    font-weight: 600;

}
.dow:hover{
    background-color: black;
    color: red;

}
.download{
    margin-top: 30px;
}
/* ----------------------------about----------------------*/

.about{
    padding: 80px 30px;
    color: #ababab;
    text-align: justify;
}

.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    align-items: center;


}

.about-col-1{
    flex-basis: 35%;
}

.about-col-1 img{
    width: 100%;
    height: auto;
    border-radius: 15px;
}

.about-col-2{
    flex-basis: 60%;
    align-items: center;

}

.about-col-2 p{
    font-size: x-large;
}
.title{
    font-size: 60px;
    font-weight: 600;
    color: #fff;
}

.tab-title{
    display: flex;
    margin: 20px 0 40px;
    font-weight: 600;
    color: white;
    font-size: xx-large;
}
.tab-links{
    margin-right: 50px;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.tab-links::after{
    content: " ";
    width: 0px;
    height: 3px;
    background: red;
    left: 0;
    bottom: -6px;
    position: absolute;
    transition: 0.5s;
}

.tab-links.active-link::after{
    width: 100%;
}

.tab-contents ul li{
    list-style: none;
    margin: 10px ;
    font-size: x-large;
}

.tab-contents ul li span{
    color: red;
    font-size: x-large;
    font-weight: 600;

}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
}


.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.work img{
    width: 100%;
    border-radius: 10px;
    display: block;

}

.layer{
    width: 100%;
    height: 0px;
    background: linear-gradient(rgba(0, 0, 0, 0),#ff0000);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 0px;
    text-align: center;
    transition: height 0.5s;
}

.layer h3{
    font-weight: 500;
    margin-bottom: 17px;
}

.layer a{
    margin-top: 17px;
    color: #ff0000;
    text-decoration: none;
    
    
}
.work:hover img{
    transform: scale(1.1);
}
.work:hover .layer{
    height: 100%;
}

/*---------------------------------*/

.contact-left{
    flex-basis:35%;
    line-height: 2;
}
.contact-right{
    flex-basis:50%;
    margin-top: 30px;
}
.contact-right form{
    width: 100%;
}
.contact-left{
    margin-top: 30px;
}
 box-icon{
    margin-right: 15px;
    font-size: 25px;
    size: 30px;
}
form input, form textarea{
    margin-top: 30px;
    width: 100%;
    border: 0;
    outline: none;
    padding: 15px;
    margin: 15px;
    color: #fff;
    background: #262626;
    font-size: 18px;
    border-radius: 6px;
}
.socialicon{
    text-decoration: none;
    font-size: 30px;
    color: white;
    display: inline-block;
}
button{
    padding: 15px 25px;
    background-color: #0000;
    margin-left: 200px;
    border-radius: 6px;
    color: white;
    font-weight: 600;
    cursor: pointer;
    font-size: 20px;
}
.menuopen{
    display: none;
}

/*--------------------------------*/
@media only screen and (max-width : 600px){
    button{
        margin-left: 80px;
    }
    .dow{
        background-color: #0000;
    }
    .menuopen{
        margin-top: 0px;
        margin-left: 0%;
        right: 10px;
        top: 10px;
        cursor: pointer;
       display: block;
        float: right;
        position: fixed;
       
    }
    .header{
        background-image: url(mjpic.jpg) ;
    }
    .about-col-1{
        display: none;    }
    .about-col-2{
        flex-basis: 100%;
        align-items: center;
    }
    .header-text{
        margin-top: 500px;
        font-size: 30px;
    }
    .header-text h1{
        font-size: 60px;
        margin-top: 20px;
    }
    .header-text h1 span{
        color: red;
    }
    nav ul li{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding-top: 50px;
        

    }
    nav ul{
        width: 200px;
        position: fixed;
        height: 100%;
        background-color: black;
        top: 0;
        right: -200px;
        padding-top: 50px;
        z-index: 1;
        transition: 0.7s ;
        text-align: center;

    }
    .menuclose{
        cursor: pointer;
        display: inline-block;
        
        
    }
    .contact-left{
        flex-basis:100%;
        
    }
    .row{
        display: block;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
        align-items: center;
    }
}
